/* h1 {
  text-align: center;
  color: white;

}
ul {
  text-align: center;
  text-decoration-style: none;
}
button {
  text-align: center;
  color: white;
  background-color: #3C6997;
}
body {
  background-color: #F18F01; 
  padding-top: 20px;
  padding-bottom: 20px;
}
.jumbotron {
 margin-top: 10px;
 background-color: #F46036;
} */