
.auth {
  text-align: center;
}


h1 {
  text-align: center;
  color: #131112;
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
}
ul {
  text-align: center;
  text-decoration-style: none;
}
button {
  text-align: center;
  color: #131112;
  background-color: #279AF1;
}
body {
  background-color: #F7F7FF !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
.jumbotron {
 margin-top: 10px;
 background-color: #279AF1;
} 

#container {
  min-height: 100%;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}
.card {
float: left;
margin: 17px;
color: #131112;
background-color: #F7F7FF !important;
font-family: open-sans;
}
.card-body{
  color: #131112;
  background-color: #F7F7FF;
  font-family: open-sans !important;
}
.card-title{
  color: #131112;
  text-decoration: none;
  font-family: open-sans !important;
}
.card-text {
  color: #131112;
  font-family: open-sans !important;
}
.card-link {
  text-decoration-style: none;
  color: #131112;
  size: 20%;
  font-family: open-sans !important;
}
.list-group{
  background-color: #F7F7FF !important;
}
html {
   background-color: #F7F7FF !important;
}
#nav {
  background-color: #F7F7FF !important;
}
#shadow{
  
  margin-bottom: 0px !important;
}
