<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://files.slack.com/files-pri/T0351JZQ0-FJ8RH6P2A/golden_gallop.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.slack.com/files-pri/T0351JZQ0-FJ0BE6PFT/cherry_creek_sneak.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.slack.com/files-pri/T0351JZQ0-FJ0BEBM89/pikes_peak_marathon.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://files.slack.com/files-pri/T0351JZQ0-FJ6KDJ1KP/bolderboulder_2018-38.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
