<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Create new event</span>
  </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    <input type='text' class="form-control" aria-label='eventName' placeholder='Event Name' aria-describedby="inputGroup-sizing-default"/>
    <input type='date' class="form-control" aria-labele='when' aria-describedby="inputGroup-sizing-default" />
    <input type='text' class="form-control" aria-labele='location' placeholder='location' aria-describedby="inputGroup-sizing-default"/>
    <input type='number' class="form-control" aria-labele='entranceFee' placeholder ='entrance fee'aria-describedby="inputGroup-sizing-default"/>
</div>