
<div id="footerBar">
    <a href="https://www.averybrewing.com/events/four-on-the-fourth-4k">Avery 4k on the 4th</a>
    <a href="https://bb10k.bolderboulder.com/">Bolder Boulder</a>
    <a href="https://cherrycreeksneak.com/">Cherry Creek Sneak</a>
    <a href="http://www.elgrito5k.org">El Grito</a>
    <a href="http://goldengallop.com">Golden Gallop</a>
    <a href="https://komencolorado.org/race-for-the-cure/">Race for the Cure</a>
    <a href="https://www.runrocknroll.com/Events/Denver/The-Races/Half-Marathon">Rock&Roll Marathon</a>
</div>
