<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div>
      <ul>
        <li>Can relieve depression and improve mood.</li>
        <li>Contrary to popular belief, running makes the knees stronger.</li>
        <li>Running improves sleep and boosts the ability to focus.</li>
        <li>Significantly improves cardiovascular health.</li>
        <li>Fights age-related cognitive decline.</li>
        <li>Makes you more resistant to stress, also a stress-releiver.</li>
        <li>Burns calories.</li>
        <li>Reduce your chances of an early death.</li>
      </ul>
    </div>
  </body>
</html>
