<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>RunAround</h1>

    <div>
      <p>
        Can relieve depression and improve mood.
        Contrary to popular belief, running makes the knees stronger.
        Running improves sleep and boosts the ability to focus.
        Significantly improves cardiovascular health.
        Fights age-related cognitive decline.
        Makes you more resistant to stress, also a stress-releiver.
        Burns calories.
        Reduce your chances of an early death.
      </p>
    </div>

    <div>
      <form action='/auth/login'>
      <button type="submit">Register or Login</button>
      </form>
    </div>

  </body>
</html>
