<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Index</title>
</head>
<body>
    <h1>Runner's</h1>

    <form action="/auth/login">
      <button type="submit" name="logout">Logout</button>
    </form>

    <!-- <form action="/edit">
        <button type="submit">edit</button>
    </form> -->
    <!-- <ul>
      <% for (let i = 0; i < runner.length; i++){%>
           <li><a href="/runner/<%=runner[i]._id%>"><%=runner[i].name %></a></li>
      <%}%>
    </ul> -->
</body>
</html>
