<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Welcome!</h1>
      <nav>
            <form action="/auth/logout">
              <button type='submit'>Logout</button>
            </form>
      </nav>
    </header>
    <form action="/runner/<%=runner._id%>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
