<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Create a Runner</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/runners">Runners Index</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/runners" method="POST">
        <input type="text" name="name" />
        <button type="submit">Create Runner</button>
      </form>
    </main>
  </body>
</html>
