<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Runner</title>
  </head>
  <body>
    <header>
      <h1>Create a Runner</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/runner/index">Runner Index</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <form action="/runner" method="POST">
        <input type="text" name="name" />
        <input type="text" name="age" />
        <input type="text" name="gender" />
        <button type="submit">Create Runner</button>
      </form>
    </main>
  </body>
</html>
