<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>create event</title>
</head>
<body>
    <h1>Create a new event</h1>
    <form  action='event' method='POST'>
    <input type='text' name='name' />
    <input type='date' name='date' />
    <input type='text' name='location' />
    <input type='number' name='entrance-fee' />
    <input type='checkbox' name='rsvp' />

    
</body>
</html>