<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>create event</title>
</head>
<body>
    <% include ../partials/navBar.ejs%>
    <h1>Create a new event</h1>
    <form  action='/event' method='POST'>
        <input type='text' name='eventName' placeholder='Event Name' />
        <input type='date' name='when'  />
        <input type='text' name='location' placeholder='location' />
        <input type='number' name='entranceFee' placeholder ='entrance fee'/>
        <button type='submit'>Register new event</button>
    </form>



</body>
</html>
